* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #17181a;
    font-family: "Montserrat", sans-serif;
    overflow-x: hidden;
    position: relative;
}
main {
    position: absolute;
    overflow: hidden;
}

.logo {
    font-family: 'IM Fell English SC', serif;
    text-decoration: none;
    color: #A4A4A4;
}
.header {
    min-height: 10vh;
    font-size: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
    width: 80%;
    margin: auto;
    padding: 2rem 0 0 0;
    z-index: 2;
    position: relative;
}

.burger {
    cursor: pointer;
}

.burger__line_1,
.burger__line_2{
    width: 3rem;
    height: 0.2rem;
    margin: 0.4rem;
    background: #a4a4a4;
    pointer-events: none;
}

.slide {
    min-height: 100vh;
    margin: 0 auto 0 auto;
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    background: #17181a;
}

.slide__desc {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1;
    flex-basis: 25rem;
    padding-left: 5rem;
    position: relative;
}
.slide__pic {
    position: relative;
    flex: 1;
    flex-basis: 25rem;
    overflow: hidden;
}

.slide__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.slide__title_orange {
    color: #ff7430;
}
.slide__title_red {
    color: #ff382f;
}

.slide__title_green {
    color: #6f9957;
}
.slide__title {
    font-family: 'IM Fell English SC', serif;
    font-size: 4.4rem;
    line-height: 1;
}
.slide__title_number {
    font-size: 5.5rem;
}
.slide__txt {
    padding: 2rem 0 3rem;
    font-size: 1.5rem;
    color: #A4A4A4;
}
.slide__btn {
    font-family: 'IM Fell English SC', serif;
    text-transform: uppercase;
    font-weight: bold;
    padding: 1rem 2rem;
    background: none;
    border: none;
    color: #A4A4A4;
    border: 1px solid #A4A4A4;
    font-size: 1rem;
    text-decoration: none;
    align-self: flex-start;
    cursor: pointer;
    transition: color .3s ease, background-color .3s ease;
}

.slide__btn:hover {
    background-color: white;
    color: black;
}

.navBar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #17181a;
    display: flex;
    justify-content: space-between;
    padding: 5% 10%;
    align-items: center;
    z-index: 1;
    opacity: 1;
    clip-path: circle(1px at 88.2% 53px);
    -webkit-clip-path: circle(1px at 88.2% 53px);
}

.navBar__links {
    font-size: 3rem;
    flex-basis: 30rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.navBar__linksTxt {
    display: inline-block;
    margin: 3rem 0;
    cursor: pointer;
    transition: color .3s ease;
    position: relative;
}
.navBar__linksTxt:after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -1px;
    width: 100%;
    height: 1px;
    background-color: #17181a;
    transition: width .3s ease, background-color .3s ease;
}
.navBar__linksTxt:last-child {
    margin-bottom: 0;
}
.navBar__linksTxt:hover {
    color: #ff382f;
}
.navBar__linksTxt:hover.navBar__linksTxt:after{
    background-color: #ff382f;
    width: 0;
}

.navBar__contact {
    flex-basis: 30rem;
}
.navBar__title {
    font-family: 'IM Fell English SC', serif;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 3rem;
    padding: 0 0 1.5rem 0;
}
.navBar__txt {
    font-size: 1.5rem;
    line-height: 2rem;
}

.slide__reveal,
.slide__revealTxt {
    position: absolute;
    width: 101%;
    height: 101%;
    background: #17181a;
    left: 0;
    top: 0;
}

.slide__titleWrap {
    position: relative;
    overflow: hidden;
}
.slide__titleSwipe {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
    mix-blend-mode: darken;
    transform: translateY(100%);
}

.slide__titleSwipe_red {
    background: #ff382f;
}

.slide__titleSwipe_orange {
    background: #ff7430;
}

.slide__titleSwipe_green {
    background: #6F9957;
}

.scrollmagic-pin-spacer {
    position: static !important;
}
.hide {
    overflow: hidden;
}

/* Other Pages */
.game {
    min-height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70%;
    margin: auto;
    color: white;
    margin-top: 5rem;
    flex-wrap: wrap;
    position: relative;
}
.game__pic {
    height: 70vh;
    flex-basis: 30rem;
}

.game__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;
}

.game__desc {
    flex: 1;
    position: relative;
    flex-basis: 25rem;
}

.game__title {
    font-family: 'IM Fell English SC', serif;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 5rem;
    margin: 5rem 0 1rem 0;
}

.game__title_red {
    color: #ff382f;
}

.game__title_orange {
    color: #ff7430;
}

.game__title_green {
    color: #6F9957;
}

.game__txt {
    font-size: 1.4rem;
    padding: 0 2rem 0 0;
    margin-bottom: 10rem;
    color: #A4A4A4;
}
.game__nr {
    font-size: 18rem;
    font-family: 'IM Fell English SC', serif;
    position: absolute;
    left: 52%;
    bottom: 0;
    color: white;
    opacity: 0.2;
}

.swipe {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    transform: translateX(-100%);
}

.swipe_orange {
    background: #c6411a;
    z-index: 5;
}

.swipe_red {
    background: #b80300;
    z-index: 4;
}

.swipe_redDark{
    background: #69090d;
    z-index: 3;
}

@media screen and (max-width: 1500px) {
    .slide__pic {
        height: 50vh;
    }
    .slide__title {
        font-size: 3rem;
    }
    .slide__txt {
        padding: 1.5rem 0 2.5rem;
        font-size: 1.2rem;
    }
    .slide__btn {
        padding: .8rem 1.5rem;
    }
    .slide__title_number {
        font-size: 3.6rem;
    }

    .game__desc {
        flex-basis: 22rem;
    }

    .game__pic {
        flex-basis: 22rem;
    }

    .game__title {
        font-size: 4rem;
    }
    .game__nr {
        font-size: 14rem;
        left: 40.8%;
    }
}

@media screen and (max-width: 1024px) {
    main {
        width: 100%;
        margin: 0;
    }
    .slide {
        display: block;
        width: 100%;
        text-align: center;
    }
    .slide__desc {
        align-items: center;
        padding: 0;
    }
    .slide__pic {
        padding-top: 2rem;
    }
    .slide__title {
        font-size: 1.6rem;
        padding: 1rem 0;
    }
    .slide__txt {
        padding: 0 1rem 2rem 1rem;
        font-size: 1rem;
        line-height: 1.4rem;
        text-align: center;
        max-width: 560px;
        margin: 0 auto;
    }
    .slide__title_number {
        font-size: 2.2rem;
    }
    .slide__btn {
        margin: auto;
    }
    .game_slide {
        width: 100%;
        text-align: center;
    }
    .game__desc {
        flex-basis: initial;
        padding: 0 1rem;
    }

    .game__pic {
        flex-basis: initial;
        height: 50vh;
    }
    .game__txt {
        font-size: 1rem;
        line-height: 1.4rem;
        margin-bottom: 1rem;
        padding: 0;
    }
    .game__title {
        font-size: 1.6rem;
        margin: 0 0 .7rem 0;
    }
    .game__nr {
        font-size: 8rem;
    }
    .navBar {
        display: block;
    }
    .navBar__links {
        padding-top: 6rem;
        font-size: 2rem;
        align-items: center;
    }
    .navBar__linksTxt {
        margin: 0 0 1rem 0;
    }
    .navBar__title {
        font-size: 2rem;
        text-align: center;
        padding: 3rem 0 .6rem 0;
    }
    .navBar__txt {
        font-size: 1.2rem;
        line-height: 1.8rem;
        text-align: center;
    }
}

@media screen and (max-width: 576px) {
    .game {
        inset: 20px auto auto 0!important;
    }
    .scrollmagic-pin-spacer {
        margin-top: 0!important;
    }
    .header {
        padding: 1rem 0 0 0;
        width: 92%;
    }
    .navBar__links {
        font-size: 1.2rem;
    }
    .navBar__title {
        font-size: 1.4rem;
        text-align: center;
    }
    .navBar__txt {
        font-size: 1rem;
        line-height: 1.4rem;
        text-align: left;
    }
    .slide__txt {
        text-align: left;
    }
    .game__desc {
        text-align: left;
    }
}
